* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	display: grid;
	justify-content: center;
	background-image: linear-gradient(to right, #0077ff 0%, #0000dd 100%);
	margin: 40px 0;
}

/* HEADER */
header {
	display: inherit;
	justify-items: center;
	width: 700px;
	padding: 50px;
	color: white;
	background-color: black;
}

header h2 {
	text-align: center;
}

h3 {
	margin-top: 20px;
}

h3 a {
	color: white;
	text-decoration: none;
}

h3 a:hover {
	text-decoration: underline;
}

/* MAIN */
main {
	width: 700px;
	padding: 50px;
	background-color: white;
}

main h2 {
	color: black;
	padding-bottom: 20px;
}

li a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline black;
}

/* FOOTER */
footer {
	color: white;
	background-color: black;
	width: 700px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	margin-top: 14px;
}

nav a {
	color: white;
	padding: 0 27px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* SIZE FOR TABLET */
@media screen and (max-width: 900px) {
	header, main, footer {
		width: 500px;
	}

	nav a {
		padding: 0 14px;
	}
}

/* SIZE FOR PHONE */
@media screen and (max-width: 650px) {
	header, main, footer {
		width: 325px;
	}

	header {
		padding: 28px 35px;
	}

	main {
		padding: 31px 43px;
	}

	nav a {
		padding: 0 4px;
	}
}